<!--app-content open-->
<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
<!-- ! Liste campus OPEN -->
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listes des campus</h3>
      </div>
      <div class="card-body">
        <div class="">
          <div class="row">
            <div class="col-md-12 col-xl-4">
              <div class="thumbnail">
                <a href="javascript:void(0)">
                  <img
                    src="assets/images/media/19.jpg"
                    alt="thumb1"
                    class="thumbimg"
                  />
                </a>
                <div class="caption">
                  <h4><strong>Campus FASS</strong></h4>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </p>
                  <p class="d-flex justify-content-around">
                    <a
                      href="javascript:void(0)"
                      class="btn btn-primary"
                      role="button"
                    >Voir materiels</a
                    >
                    <a
                      href="javascript:void(0)"
                      class="btn btn-secondary"
                      role="button"
                    >Voir salles</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- COL-END -->
            <div class="col-md-12 col-xl-4">
              <div class="thumbnail">
                <a href="javascript:void(0)">
                  <img
                    src="assets/images/media/20.jpg"
                    alt="thumb1"
                    class="thumbimg"
                  />
                </a>
                <div class="caption">
                  <h4><strong>Campus DAKAR</strong></h4>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </p>
                  <p class="d-flex justify-content-around">
                    <a
                      href="javascript:void(0)"
                      class="btn btn-primary"
                      role="button"
                    >Voir materiels</a
                    >
                    <a
                      href="javascript:void(0)"
                      class="btn btn-secondary"
                      role="button"
                    >Voir salles</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- COL-END -->
            <div class="col-md-12 col-xl-4">
              <div class="thumbnail">
                <a href="javascript:void(0)">
                  <img
                    src="assets/images/media/20.jpg"
                    alt="thumb1"
                    class="thumbimg"
                  />
                </a>
                <div class="caption">
                  <h4><strong>Campus Keur Massar</strong></h4>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </p>
                  <p class="d-flex justify-content-around">
                    <a
                      href="javascript:void(0)"
                      class="btn btn-primary"
                      role="button"
                    >Voir materiels</a
                    >
                    <a
                      href="javascript:void(0)"
                      class="btn btn-secondary"
                      role="button"
                    >Voir salles</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- COL-END -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- COL-END -->
</div>
<!-- ! END Liste campus CLOSED -->
        </div>
      </div>
    </div>

