<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- ! Row Tables -->
      <form (ngSubmit)="onSubmit()" #demandeForm="ngForm">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Faire une demande</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row align-items-center">
                <label class="col-xl-2 form-label">Objet</label>
                <div class="col-xl-10">
                  <input type="text" class="form-control" name="objet" [(ngModel)]="demande.objet" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-xl-2 form-label">Message</label>
                <div class="col-xl-10">
                  <textarea required name="description" [(ngModel)]="demande.description" rows="10" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-sm-flex">
            <div class="btn-list ms-auto my-auto">
              <button class="btn btn-danger btn-space mb-0" (click)="goBack()">Retour</button>
              <button type="submit" class="btn btn-primary btn-space mb-0" [disabled]="!demandeForm.form.valid">
                Envoyer la demande
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
