<div class="main-content app-content col-md-12 mb-3 pt-5">
  <div class="side-app">
    <div class="main-container container-fluid">
      <!-- ! Row Tables -->
      <div class="row">
        <div class="col-xl-10 col-md-8">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Liste des Salles</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-nowrap text-md-nowrap mb-0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Capacite</th>
                    <th>Campus</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>1</td>
                    <td>A51</td>
                    <td>40</td>
                    <td>FASS</td>
                    <td>
                      <div class="g-2">
                        <a
                          (click)="null"
                          class="btn text-primary btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Edit"
                        ><span class="fe fe-edit fs-14"></span
                        ></a>
                        <a
                          (click)="null"
                          class="btn text-danger btn-sm"
                          data-bs-toggle="tooltip"
                          data-bs-original-title="Delete"
                        ><span
                          class="fe fe-trash-2 fs-14"
                        ></span
                        ></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
