
<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      <h3 class="card-title">Type materiel</h3>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<form (ngSubmit)="onsubmit()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="typeMateriel.libelle"
        required
        placeholder="Type de materiel" name="libelle">
    </div>
    <div class="form-footer mt-2">
      <button type="submit" class="btn btn-primary"
      >Ajouter un type de materiel</button
      >
    </div>
</form>
<!--  </div>-->
<!--  </div>-->

