<!--app-content open-->
<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- ! Liste campus OPEN -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">File Export</h3>
      </div>
<!--      <div class="card-body">-->
<!--        <div class="table-responsive">-->
<!--          <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th class="border-bottom-0">Name</th>-->
<!--              <th class="border-bottom-0">Position</th>-->
<!--              <th class="border-bottom-0">Office</th>-->
<!--              <th class="border-bottom-0">Age</th>-->
<!--              <th class="border-bottom-0">Start date</th>-->
<!--              <th class="border-bottom-0">Salary</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let aff of affectation">-->
<!--              <td>Tiger Nixon</td>-->
<!--              <td>System Architect</td>-->
<!--              <td>Edinburgh</td>-->
<!--              <td>61</td>-->
<!--              <td>2011/04/25</td>-->
<!--              <td>$320,800</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Donna Snider</td>-->
<!--              <td>Customer Support</td>-->
<!--              <td>New York</td>-->
<!--              <td>27</td>-->
<!--              <td>2011/01/25</td>-->
<!--              <td>$112,000</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
      <div class="card-body">
        <div class="table-responsive">
          <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
            <thead>
            <tr>
              <th class="border-bottom-0">Name</th>
              <th class="border-bottom-0">Position</th>
              <th class="border-bottom-0">Office</th>
              <th class="border-bottom-0">Age</th>
              <th class="border-bottom-0">Start date</th>
              <th class="border-bottom-0">Salary</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aff of affectation">
              <td>{{ aff.nomTable }}</td>
              <td>{{ aff.nomTable }}</td>
              <td>{{ aff.nomTable }}</td>
              <td>{{ aff.nomTable }}</td>
              <td>{{ aff.nomTable }}</td>
              <td>{{ aff.nomTable }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
          <!-- COL-END -->
        </div>
        <!-- ! END Liste campus CLOSED -->
      </div>
    </div>
  </div>
</div>


<!--!-->


