<form (ngSubmit)="insertMateriel()">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Ajouter un nouveau materiel</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Code Materiel -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="form-label">Code <span class="text-red">*</span></label>
            <input type="text" class="form-control" placeholder="Code de materiel" name="codeMateriel" [(ngModel)]="materiel.codeMateriel" />
          </div>
        </div>
        <!-- Reference -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="form-label">Reference <span class="text-red">*</span></label>
            <input type="text" class="form-control" placeholder="Reference" name="reference" [(ngModel)]="materiel.reference" />
          </div>
        </div>
        <!-- Description -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Description <span class="text-red">*</span></label>
            <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="materiel.description" />
          </div>
        </div>
        <!-- Quantite -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">Quantite <span class="text-red">*</span></label>
            <input type="number" class="form-control" placeholder="Quantite" name="quantite" [(ngModel)]="materiel.quantite" />
          </div>
        </div>
        <!-- Prix -->
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">Prix <span class="text-red">*</span></label>
            <input type="number" class="form-control" placeholder="Prix" name="prix" [(ngModel)]="materiel.prix" />
          </div>
        </div>
        <!-- Seuil -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Seuil <span class="text-red">*</span></label>
            <input type="number" class="form-control" placeholder="Seuil" name="seuil" [(ngModel)]="materiel.seuil" />
          </div>
        </div>
        <!-- Date d' Enregistrement -->
        <div class="col-md">
          <label class="form-label">Date d' Enregistrement <span class="text-red">*</span></label>
          <div class="input-group">
            <div class="input-group-text">
              <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
            </div>
            <input class="form-control fc-datepicker" type="date" name="dateEnregistrement" [(ngModel)]="materiel.dateEnregistrement" />
          </div>
        </div>
        <!-- Date d'amortissement -->
        <div class="col-md">
          <label class="form-label">Date d'amortissement <span class="text-red">*</span></label>
          <div class="input-group">
            <div class="input-group-text">
              <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
            </div>
            <input class="form-control fc-datepicker" type="date" name="amortissement" [(ngModel)]="materiel.amortissement" />
          </div>
        </div>
        <!-- Fournisseur -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Fournisseur <span class="text-red">*</span></label>
            <select class="form-control form-select select2" name="idFournisseur" id="" [(ngModel)]="materiel.idFournisseur">
              <option selected>Veuillez choisir le fournisseur</option>
              <option *ngFor="let fourn of fournisseurs" [value]="fourn.id">{{ fourn.nom }} </option>                      </select>
          </div>
        </div>
        <!-- Type materiel -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Type materiel <span class="text-red">*</span></label>
            <select class="form-control form-select select2" name="idTypeMateriel" [(ngModel)]="materiel.idTypeMateriel">
              <option selected>Veuillez choisir le Type Materiel</option>
              <option *ngFor="let tm of TypeMateriels" [value]="tm.id" >{{tm.libelle}}</option>

            </select>
          </div>
        </div>
        <!-- Etat -->
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Etat <span class="text-red">*</span></label>
            <select class="form-control form-select select2" name="etat" [(ngModel)]="materiel.etat">
              <option>Veuillez choisir l'etat du materiel</option>
              <option value="Disponible">Disponible</option>
              <option value="amortissement">En voie d'amortissement</option>
              <option value="hService">Hors Service</option>
            </select>
          </div>
        </div>
        <!-- Image -->
        <div class="row mb-3">
          <div class="col-lg-6 col-sm-12 mb-4 mb-lg-0">
            <label class="form-label">Image <span class="text-red">*</span></label>
            <input type="file" class="dropify" data-default-file="../assets/images/media/1.jpg" data-bs-height="180" name="image" [(ngModel)]="materiel.image" (change)="onFileSelected($event)" />
          </div>
        </div>
        <!-- Bouton Ajouter -->
        <div class="form-footer mt-2">
          <button href="javascript:void(0)" type="submit" class="btn btn-primary">Enregistrer  materiel</button>
        </div>
      </div>
    </div>
  </div>
</form>
