<!--app-content open-->
<div class="main-content app-content mt-5 pt-9">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- ROW-2 -->
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mb-0">Materiels</h3>
            </div>
            <div class="card-body pt-4">
              <div class="grid-margin">
                <div class="">
                  <div class="panel panel-primary">
                    <div class="tab-menu-heading border-0 p-0">
                      <div class="tabs-menu1">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs product-sale">
                          <li>
                            <a href="#tab5" class="active" data-bs-toggle="tab"
                              ></a
                            >
                          </li>

                          <li *ngIf="user?.idRole ==1 || user?.idRole ==2 " style="cursor:pointer; height: 50px" class="btn btn-sm btn-primary">
                            <a
                             (click)="goToAdd()"
                              >Ajouter un materiel</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel-body tabs-menu-body border-0 pt-0">
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab5">
                          <div class="table-responsive">
                            <table
                              id="data-table"
                              class="table table-bordered text-nowrap mb-0"
                            >
                              <thead class="border-top">
                                <tr>
                                  <th
                                    class="bg-transparent border-bottom-0"
                                    style="width: 5%"
                                  >
                                    Code matériel
                                  </th>
                                  <th class="bg-transparent border-bottom-0">
                                    Description
                                  </th>
                                  <th class="bg-transparent border-bottom-0">
                                    Quantité
                                  </th>
                                  <th
                                    class="bg-transparent border-bottom-0"
                                    style="width: 10%"
                                  >
                                    Status
                                  </th>
                                  <th *ngIf="user?.idRole ==1 || user?.idRole ==6 "
                                    class="bg-transparent border-bottom-0"
                                    style="width: 5%"
                                  >
                                    Action
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let materiel of materiels"  class="border-bottom">
                                  <td  class="text-center">
                                    <div class="mt-0 mt-sm-2 d-block">
                                      <h6 class="mb-0 fs-14 fw-semibold">
                                        {{materiel.codeMateriel }}
                                      </h6>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex">
                                      <div class="mt-0 mt-sm-3 d-block">
                                        <h6 class="mb-0 fs-14 fw-semibold">
                                          {{materiel.description}}
                                        </h6>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span class="mt-sm-2 d-block"
                                      >{{ materiel.quantite }}</span
                                    >
                                  </td>

                                  <td>
                                    <div class="mt-sm-1 d-block">
                                      <span *ngIf="materiel.status == 'Disponible'"
                                            class="badge bg-success-transparent rounded-pill text-dark p-2 px-3"
                                      >{{ materiel.status }}</span
                                      >
                                      <span *ngIf="materiel.status != 'Disponible'"
                                            class="badge bg-danger-transparent rounded-pill text-danger p-2 px-3"
                                      >{{ materiel.status }}</span
                                      >
                                    </div>
                                  </td>
                                  <td>
                                    <div class="g-2">
                                      <a *ngIf="user?.idRole !=4 "
                                        (click)="redirectTo(materiel.id)"
                                        class="btn text-primary btn-sm"
                                        data-bs-toggle="tooltip"
                                        data-bs-original-title="Edit"
                                        ><span class="fe fe-edit fs-14"></span
                                      ></a>
                                      <a *ngIf="user?.idRole ==1 || user?.idRole ==2 "
                                        (click)="delete(materiel.id)"
                                        class="btn text-danger btn-sm"
                                        data-bs-toggle="tooltip"
                                        data-bs-original-title="Delete"
                                        ><span
                                          class="fe fe-trash-2 fs-14"
                                        ></span
                                      ></a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ROW-2 END -->
    </div>
    <!-- CONTAINER END -->
  </div>
</div>
<!--app-content close-->
